- name: Copy config files
  become: true
  ansible.builtin.copy:
    src: "{{ ansible_config_file | dirname }}/services/config/"
    dest: "/etc/"
    mode: "0644"

# This is needed to allow the localhost to connect to the remote server's Docker daemon using SSH,
# e.g. DOCKER_HOST="ssh://user@host" docker compose down.
- name: Add user to the docker group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_ssh_user }}"
    groups: docker
    append: true

- name: Create and start the service stack
  delegate_to: localhost

  environment:
    COMPOSE_FILE: "{{ ansible_config_file | dirname }}/services/compose.yaml"
    DOCKER_HOST: "ssh://{{ ansible_ssh_user }}@{{ ansible_host }}"

  block:
    # Pull and build images before stopping the service stack to minimize downtime.
    # This may fail, so it's better to try it before stopping the service stack.
    - name: Pull images
      ansible.builtin.shell: "docker compose pull"

    - name: Build images
      ansible.builtin.shell: "docker compose build"

    - name: Stop service stack
      ansible.builtin.shell: "docker compose down"

    - name: Start service stack
      ansible.builtin.shell: "docker compose up -d --remove-orphans"
