- name: Create and start the service stack
  delegate_to: localhost

  environment:
    COMPOSE_FILE: "{{ ansible_config_file | dirname }}/services/compose.yaml"
    DOCKER_HOST: "ssh://{{ ansible_ssh_user }}@{{ ansible_host }}"

  block:
    - name: Stop service stack
      ansible.builtin.shell: "docker compose down"

    - name: Start service stack
      ansible.builtin.shell: "docker compose up -d --remove-orphans"
