# > rsync must be installed on both the local and remote host.
# ref.: https://docs.ansible.com/ansible/latest/collections/ansible/posix/synchronize_module.html#notes
- name: Ensure rsync is installed
  become: true
  ansible.builtin.package:
    name: rsync
    state: present

- name: Synchronize the service stack definition and configuration
  ansible.posix.synchronize:
    src: "{{ playbook_dir }}/../../../services/"
    dest: "~/services"
    recursive: yes
    delete: yes
  register: synchronize_result

- name: Start service stack
  when: synchronize_result is changed
  become: true
  block:
    - name: Stop service stack
      ansible.builtin.shell: "docker compose -f /home/{{ ansible_ssh_user }}/services/compose.yaml down"

    - name: Start service stack
      ansible.builtin.shell: "docker compose -f /home/{{ ansible_ssh_user }}/services/compose.yaml up -d --remove-orphans"
